.navbar {

    .navbar-nav.menu-lang {

        flex-direction: row;

        .nav-item {

        }

        .nav-link {
            @include link-in-header;

            padding-right: $navbar-nav-link-padding-x / 2;
            padding-left: $navbar-nav-link-padding-x / 2;
        }
    }
}
