.navbar-nav.navbar-main.in-footer {

    .nav-item {

    }

    .nav-link {
        text-transform: none;
        font-weight: 400;
        font-size: 1rem;
        color: $body-color;
        &:hover,
        &:focus {
            color: $link-color;
        }
    }

    .dropdown-menu {

    }
}
