.navbar-main {

    @include media-breakpoint-up(xs) {

        // .dropdown.show,
        .dropdown {

            .dropdown-toggle {

            }

            .dropdown-menu {

                .dropdown-item {
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 1.25rem;
                }

                .dropdown-item.active {

                }
            }
        }
    }

    @include media-breakpoint-desktop() {

        // .dropdown.show,
        .dropdown {

            .dropdown-toggle {

            }

            .dropdown-menu {

                transform: translateX(-percentage(1/3));

                background-color: $theme-dropdown-bg;
                .dropdown-item {
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 1.25rem;
                    color: $theme-dropdown-link-color;
                }

                .dropdown-item:hover,
                .dropdown-item:active,
                .dropdown-item.active {
                    color: $theme-dropdown-link-active-color;
                }
            }
        }
    }
}
