@include media-breakpoint-up(xl) {

    .navbar {
        > .container {
            position: relative;
        }
    }

    .navbar-top {
        position: absolute;
        top: 0;
        right: 16px;
    }
}
