/////////////////
// home navbar //
/////////////////
body.index {
    .navbar-brand {
        display: block;
    }
    .navbar-brand.is-desktop {
        display: none;
    }

    @include media-breakpoint-desktop() {
        .navbar-brand {
            display: none;
        }
        .navbar-brand.is-desktop {
            display: block;
        }
    }
}

////////////////////////////
// navbar-brand max-width //
////////////////////////////
.navbar-brand {
    max-width: 30%;
}

@include media-breakpoint-desktop() {
    .navbar-brand {
        max-width: none;
    }
}

//////////////////////////////
// navbar-brand left margin //
//////////////////////////////
.navbar-brand {
    margin-left: 0;

    @include media-breakpoint-up(sm) {
        margin-left: $navbar-padding-x;
    }

    @include media-breakpoint-desktop() {
       margin-left: 0;
    }
}
