.footer-copy {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    // @include media-breakpoint-desktop() {
    //     align-items: center;
    // }
}
