.menu-system {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;

    .nav-item {
        //
    }

    .nav-link {
        padding: 0 0;
        display: inline-block;
        @include link-in-menu;
    }
}

// @include media-breakpoint-up(sm) {
//     .menu-system {
//         flex-direction: row;
//         justify-content: center;
//         align-content: flex-start;

//         .nav-item {

//             margin-left: .25rem;
//             margin-right: .25rem;
//             &:after {
//                 content: "|";
//                 display: inline-block;
//                 margin-left: .5rem;
//             }
//             &:last-child:after {
//                 display: none;
//             }
//         }
//     }
// }
