$custom-navbar-bg: rgba($custom-white, .8);
$custom-dropdown-bg: rgba($custom-gray, .5);

$custom-dropdown-link-color: $custom-black;
$custom-dropdown-link-active-color: $link-color;

$custom-page-title-color: $link-color;
$custom-section-title-color: $link-color;
$custom-item-title-color: $link-color;

$textarea-height: 146px;
