$one-rem: 16;
$enable-responsive-font-sizes: false;

///////////////////
// CUSTOM COLORS //
///////////////////
$custom-white: #fff;
$custom-black: #000;
$custom-gray: #5a5a5a;
$custom-gray-dark: #3B3B3B;
$custom-gray-light: #999999;
