$one-rem: 16;
$enable-responsive-font-sizes: false;

//////////////////
// THEME COLORS //
//////////////////
$theme-white: #fff;
$theme-black: #000;
$theme-gray: #999999;
$theme-gray-dark: #3b3b3b;
$theme-gray-light: #dadada;
