$theme-navbar-bg: rgba($theme-white, .8);
$theme-dropdown-bg: rgba($theme-gray, .5);
$theme-gray-bg: $theme-gray-lighter;

$theme-dropdown-link-color: $theme-black;
$theme-dropdown-link-active-color: $link-color;

$theme-page-title-color: $link-color;
$theme-section-title-color: $link-color;
$theme-item-title-color: $link-color;

$textarea-height: 146px;


