@mixin page-title {
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: $theme-page-title-color;
    font-weight: 700;
    font-size: 36px;
}

@mixin page-title-prefix {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    color: $theme-page-title-color;
    a {
        color: $theme-page-title-color;
    }

    @include media-breakpoint-up(lg) {
        &:after {
            content: "/";
            font-size: 36px;
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }
}
